<div class="container-fluid mt-4">
    <h1>Are you ready to release the kraken?</h1>
    <div class="container">
        <div class="row justify-content-center">

            <!--First Battlers Card-->
            <div class="col-auto mb-3">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/assets/img/kraken_lava.png" alt="Card image cap">
                <div class="card-body">
                 <ul class="list-group">
                     <li class="list-group-item">Experinece Level: 44</li>
                     <li class="list-group-item">Attack: 44</li>
                     <li class="list-group-item">Defense: 22</li>
                     <li class="list-group-item">2 X Gold Sheild Mulitplier</li>
                     <li class="list-group-item">1 X Shield</li>
                     <li class="list-group-item">1 X Lava Ability</li>
                 </ul>
                </div>
                <div class="card-footer"> 
                    <a style="width: 100%; margin: 0;" href="#" class="btn btn-primary">Release The Kraken!</a>
                </div>
              </div>
            </div>


            <!-- Battle Options -->
            <div class="col-auto mb-3">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                      <label for="checkbox">Death Match?</label>
                   <input type="checkbox">
                   <p class="card-text">only enter if your ready to loose your nft!</p>
                  </div>
                  <div class="card-footer"> 
                      <a style="width: 100%; margin: 0;" href="#" class="btn btn-primary">Release The Kraken!</a>
                  </div>
                </div>
              </div>

              <!-- Battler's Card 2-->
              <div class="col-auto mb-3">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="/assets/img/kraken_posiden.png" alt="Card image cap">
                  <div class="card-body">
                   <ul class="list-group">
                       <li class="list-group-item">Experinece Level: 44</li>
                       <li class="list-group-item">Attack: 44</li>
                       <li class="list-group-item">Defense: 22</li>
                       <li class="list-group-item">2 X Gold Sheild Mulitplier</li>
                       <li class="list-group-item">1 X Shield</li>
                       <li class="list-group-item">1 X Lava Ability</li>
                   </ul>
                  </div>
                  <div class="card-footer"> 
                      <a style="width: 100%; margin: 0;" href="#" class="btn btn-primary">Release The Kraken!</a>
                  </div>
                </div>
              </div>

  







          </div>
    </div>
</div>
