
.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
.side-by-side{
    width: 50% !important;
    margin: 0 !important;
}

.card-body{
    padding: 1rem;
}
.list-group-item{
    line-height: 12px;
    border: none;
}
li{
    line-height: 12px;
}
@media (min-width: 1000px) {
    .card-text{
        padding-left: 15%;
        padding-right: 15%;
    }
    .side-by-side{
        width: 18rem !important;
        max-width:   18rem !important;
    }
}

