<!--Display a parralax section which has kraken grid -->
<div class="text-center container" style="padding: 20px;">

    <figure class="text-center">
        <blockquote class="blockquote">
        <h2>"Community Driven" Project</h2>

          <p style="padding: 20px;">
            NFT's available & drops are dependent on the number of active members
            and the communities demand. 
            <br>
            First drop is at 1000 active community members.
            </p>
        </blockquote>
        <figcaption class="blockquote-footer">
            <a href="#">Join our discord community</a>
        </figcaption>
      </figure>
        
      
      
       
</div>