<!--Display a parralax section which has kraken grid -->
<div class="parallax text-center container" style="color: white; border-radius: 15px;">

    <figure class="text-center">
        <blockquote class="blockquote">
        <h2>Community Driven</h2>

          <p>
            This is a "Community Driven" Project. This means that our NFT 
            drops are dependent on the community sizes and majority request. 
           
            Additionally with more community members , we would have more NFT krakens battling, 
            we would have more metadata to run through our algorithems to make preditctions. 
    
            So it other words, the battles will continue grow more interesting as more community 
            members join!
            </p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Community discord link: <a href="#">Join Discord Communinty</a>
        </figcaption>
      </figure>
        
      
      
       
</div>